
.Flexdiv{
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
    background-color: #2E3E5C;
    padding-top: 50px;
    padding-bottom: 50px;
}
.Imgg{
    width: 100px;
    position: relative;
    right: 120px;
    
}
.Imgg1{
    margin: 5px;
    position: relative;
    left: 130px;
    width: 30px;
}
.Hr{
    background-color: #2E3E5C;
    width: 200px;
}
.Footerdiv{
    background-color: #2E3E5C;
}
.Innerdiv{
    border-top: 1px solid rgb(235, 231, 231, 0.3);
    width: 80%;

    position: relative;
    left: 130px;
}
.Com{
    font-size: 17px;
    font-family: Poppins;
    font-weight: 700;
    color: white;
    position: relative;
    left: 130px;
    width: 50%;
}
div ol{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding-bottom: 10px;
}
.mainli{
    color: rgb(255, 255, 255,0.6);
    font-size: 13px;
    font-weight: 400;
}
.Lastdiv{
    margin-bottom: -16px;
}
.Lastcon{
    border: 1px solid #706FE5;
    width: 130px;
    text-align: center;
    padding: 8px 20px 12px 8px;
    border-radius: 10px;
    background-color: #706FE5;
    color: white;
    font-weight: 600;
    font-family: 'Segoe UI';
    font-size: 15px;
    position: relative;
    right: 15px;
    bottom: 15px;
}
.copy{
    text-align: center;
    color: white;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 400;
}